.menu {
    position: fixed;
    top: 0;
    background-color: lightgrey;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu ul li {
    display: inline-block;
    width: 100px;
    background-color: grey ;
    text-align: center;
    padding: 10px;
    position: relative;
}

.submenu {
    display: none;
}

.menu ul li.nested:hover > .submenu {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 40px;
}

.menu ul li.nested:hover > .submenu .submenu {
    left: 110px;
    top: 0;
}
